@model IEnumerable<FastFoodBranch.Models.DanhMuc>
@using FastFoodBranch.Models;
@{
    ViewBag.Title = "Danh sách danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.dsdm = "active";
    ViewBag.qlma1 = "show";
    ViewBag.qlma0 = "active";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@{
    var checkmess = (string)TempData["messageAlert"];
    if (checkmess == "success0")
    {
        <script>
            swal({
                title: "Thêm danh mục thành công",
                text: "Danh mục @TempData["tendm"] đã được thêm mới",
                icon: "success",
                button: "OK",
            });
        </script>
    }
    else if (checkmess == "error01")
    {
        <script>
            swal({
                title: "Thu hồi danh mục không thành công",
                text: "Mã danh mục @TempData["tendm"] không thể thu hồi. Nội dung lỗi: @TempData["mess"] " ,
                icon: "error",
                button: "OK",
            });
        </script>
    }
}

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#menu0"><h4 class="btn btn-outline-warning">Danh sách công thức còn sử dụng</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1"><h5 class="btn btn-outline-info">Danh sách công thức bị thu hồi</h5></a>
            </li>
        </ul>
    </ul>
    @*Page Heading*@
    <div class="tab-content">
        <div id="menu0" class="tab-pane active">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh sách danh mục đang tồn tại trong hệ thống </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="button-group">
                                <button class="btn btn-sm btn-success" data-target="#myModal" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                                <a class="btn btn-sm btn-secondary" type="button" title="Sao chép" href="~/Admin/DSDM"><i class="fa fa-retweet" aria-hidden="true"></i> Làm mới</a>
                                <button class="btn btn-sm btn-primary" type="button" id="btn-ImportExcel" data-target="#importModal" data-toggle="modal"><i class="fas fa-file-import"></i> Nhập Excel</button>
                                <button class="btn btn-sm btn-info" id="button_excel" title="Xuất file Excel"><i class="fas fa-file-excel"></i> Xuất Excel</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table data-cols-width="30,20,20,20,20,20,40" class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">ID</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Tên danh mục</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Trạng thái</th>
                                    <th data-exclude="true">Chức năng</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr data-exclude="true">
                                    <th>ID</th>
                                    <th>Tên danh mục</th>
                                    <th>Trạng thái</th>
                                    <th>Chức năng</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        if (item.Lock == true)
                                        {
                                            <tr>
                                                <td data-b-a-s="thin">@item.ID</td>
                                                <td data-b-a-s="thin">@item.TenDanhMuc</td>
                                                @{
                                                    if (item.Lock == true)
                                                    {
                                                        <td data-b-a-s="thin">
                                                            <div class="btn btn-sm btn-warning" style="width:100px">
                                                                Bình thường
                                                            </div>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td data-b-a-s="thin">
                                                            <div class="btn btn-sm btn-info">
                                                                Tạm ngừng
                                                            </div>
                                                        </td>
                                                    }
                                                }
                                                <td>
                                                    <button class="btn btn-success btn-sm edit" id="ChinhSuaDM">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-success btn-sm save edit" style="display:none" id="luutt"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                    <button class="btn btn-danger btn-sm edit" id="thuhoidm">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>

                                        }
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh sách danh mục đang tạm ngừng triển khai trong hệ thống </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="button-group">
                                <button class="btn btn-sm btn-info" id="button_excel1" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table data-cols-width="30,20,20,20,20,20,30" class="table table-hover table-bordered" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">ID</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Tên danh mục</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Trạng thái</th>
                                    <th data-exclude="true">Chức năng</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr data-exclude="true">
                                    <th>ID</th>
                                    <th>Tên danh mục</th>
                                    <th>Trạng thái</th>
                                    <th>Chức năng</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        if (item.Lock == false)
                                        {
                                            <tr>
                                                <td data-b-a-s="thin">@item.ID</td>
                                                <td data-b-a-s="thin">@item.TenDanhMuc</td>
                                                @{
                                                    if (item.Lock == true)
                                                    {
                                                        <td data-b-a-s="thin">
                                                            <div class="btn btn-sm btn-warning" style="width:100px">
                                                                Bình thường
                                                            </div>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td data-b-a-s="thin">
                                                            <div class="btn btn-sm btn-info">
                                                                Tạm ngừng
                                                            </div>
                                                        </td>
                                                    }
                                                }
                                                <td>
                                                    <button class="btn btn-primary btn-sm edit" id="phuchoict">
                                                        <i class="fa fa-redo" aria-hidden="true"></i>
                                                    </button>

                                                    <button class="btn btn-danger btn-sm edit" id="xoadm">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>

                                        }
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*DataTales Example*@
</div>


<!-- Modal -->
<!--Phần modal thêm mới danh mục-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Thêm mới danh mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="~/Admin/ThemDM" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row" id="nd">
                        <div class="form-group form-inline col-lg-12" style="height:40px;">
                            <label class="control-label col-sm-5" for="TenCT">Nhập tên danh mục : </label>
                            <input class="form-control text-box single-line col-sm-5" id="TenDanhMuc" name="TenDanhMuc" type="text" required>
                            <span class="control-label input-group-addon" id="icon1"></span>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess1"></p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary" id="btnAdd" disabled>Thêm mới</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Modal xác nhận thu hồi danh mục -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận thu hồi danh mục này !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn thu hồi danh mục này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal xác nhận phục hồi trạng thái danh mục -->
<div class="modal fade" id="RestoreModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RestoreModalLabel">Xác nhận phục hồi danh mục này !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn phục hồi danh mục này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmRestore">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!-- Model xác nhận xóa danh mục -->
<div class="modal fade" id="deleteModal1" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel1">Xác nhận xóa danh mục này</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa danh mục này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmDelete1">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
@section script{

    <script src="~/Content/js/tableToExcel.js"></script>
    <!-- Page level plugins -->
    <script src="~/Content/Vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    @*<script src="~/Content/js/demo/datatables-demo.js"></script>*@
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable({
                "language": {
                    "url": '@Url.Content("~/Content/Vendor/datatables/json.json")'
                }
            });
            $('#dataTable1').DataTable({
                columnDefs: [
                    { width: '150px', targets: 0 },// Độ rộng cột 5
                    { width: '150px', targets: 2 }
                ],
                "language": {
                    "url": '@Url.Content("~/Content/Vendor/datatables/json.json")'
                }
            });
        });

        //Thực hiện thêm mới chức vụ
        var check1 = 0;
        $('#TenDanhMuc').on('input', function () {
            var input = $(this);
            var icon1 = $('#icon1');
            var ndmess1 = $('#mess1');
            if (input.val().trim() == "") {
                icon1.html('<i class="fa fa-exclamation-circle ml-3 hidden-icon" aria-hidden="true"></i>');
                check1 = 0;
                ndmess1.attr('style', 'color:blue;font-size:12px;font-weight:bold');
                ndmess1.html('Vui lòng nhập nội dung .... !');
            }
            else {
                // Thực hiện kiểm tra bằng Ajax và nhận phản hồi từ máy chủ
                // Ví dụ: gửi yêu cầu kiểm tra tên công ty đến /kiem-tra-ten-ct
                $.ajax({
                    url: '/Admin/KTTenDM',
                    data: { TenDanhMuc: input.val().trim() },
                    method: 'POST',
                    beforeSend: function () {
                        // Hiển thị biểu tượng kiểm tra đang kiểm tra
                        icon1.html('<i class="fa fa-spinner fa-spin ml-3"></i>');
                        icon1.attr('data-target', 'notok');
                        icon1.mouseover(function () {
                            var errorMessage = 'Đang kiểm tra nội dung';
                            $(this).attr('title', errorMessage);
                        });
                        check1 = 0;
                        ndmess1.attr('style', 'color:blue;font-size:12px;font-weight:bold');
                        ndmess1.html('Vui lòng đợi trong giây lát .... !');
                    },
                    success: function (response) {
                        // Xử lý phản hồi từ máy chủ
                        if (response.success == false) {
                            // Hiển thị biểu tượng không được dùng
                            icon1.html('<i class="fa fa-times-circle text-danger ml-3 "></i>');
                            icon1.attr('data-target', 'notok');
                            icon1.mouseover(function () {
                                var errorMessage = 'Tên danh mục bị trùng';
                                $(this).attr('title', errorMessage);
                            });
                            check1 = 0;
                            ndmess1.attr('style', 'color:red;font-size:12px;font-weight:bold');
                            ndmess1.html('Mã chức vụ bị trùng !');
                        } else {
                            // Hiển thị biểu tượng dấu tích xanh
                            icon1.html('<i class="fa fa-check-circle text-success ml-3" id="ic2" data-target="ok"></i>');
                            icon1.attr('data-target', 'ok');
                            icon1.mouseover(function () {
                                var errorMessage = 'Tên danh mục hợp lệ';
                                $(this).attr('title', errorMessage);
                            });
                            check1 = 1;
                            ndmess1.attr('style', 'color:green;font-size:12px;font-weight:bold');
                            ndmess1.html('Tên danh mục hợp lệ.');
                        }
                    },
                    error: function () {
                        // Xử lý lỗi (nếu có)
                        // Hiển thị biểu tượng không được dùng hoặc thông báo lỗi khác
                        icon1.html('<i class="fa fa-times-circle text-danger"></i>');
                        icon1.attr('data-target', 'notok');
                        icon1.mouseover(function () {
                            var errorMessage = 'Lỗi không xác định';
                            $(this).attr('title', errorMessage);
                        });
                        check1 = 1;
                        ndmess1.attr('style', 'color:red;font-size:12px;font-weight:bold');
                        ndmess1.html('Không xác định được lỗi!');
                    }
                });
            };
            KTnd();
        });
        //Hàm kiểm tra
        function KTnd() {
            setTimeout(function () {
                console.log(check1);

                if (check1 === 1) {
                    $('#btnAdd').prop('disabled', false); // Mở ô thêm mới
                }
                else {
                    $('#btnAdd').prop('disabled', true); // Vô hiệu hóa ô thêm mới
                };
            }, 250)
        }

        //Hàm chỉnh sửa danh mục
        $('#dataTable').on('click', '#ChinhSuaDM', function () {
            var row = $(this).closest('tr');

            // Danh sách chỉ mục cột cho phép chỉnh sửa
            var editableColumns = [1];

            //Chuyển sang chế độ chỉnh sửa
            //row.find('td:not(:last-child)').each(function () {
            //    var value = $(this).text().trim();
            //    $(this).html('<input class="form-control" type="text" value="' + value + '">')
            //});

            // Chuyển sang chế độ chỉnh sửa
            row.find('td').each(function (index) {

                if (editableColumns.includes(index)) {
                    var value = $(this).text().trim();
                    $(this).html('<input class="form-control" type="text" value="' + value + '">');

                }
            });

            //Hiển thị nút lưu và ẩn nút "Sửa"
            row.find('#ChinhSuaDM').hide();
            row.find('#luutt').show();
        });
        //Hàm lưu lại thông tin sau khi cập nhật
        $('#dataTable').on('click', '#luutt', function () {
            var row = $(this).closest('tr');
            var madm = row.find('td:eq(0)').text().trim();
            var tendm = row.find('td:eq(1) input').val().trim();
            if (tendm === "") {
                alert('Vui lòng nhập tên danh mục trước khi cập nhật');
            }
            else {
                // Lấy dữ liệu từ các ô input
                var data = {
                    ID: madm,
                    TenDanhMuc: tendm
                };
                console.log(data);

                //Gửi dữ liệu lên máy chủ
                $.ajax({
                    url: '/Admin/ChinhSuaDM',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (response) {
                        if (response.success == true) {
                            swal({
                                title: "Cập nhật danh mục thành công ",
                                text: "Mã danh mục " + response.madm + " đã được cập nhật",
                                icon: "success",
                                button: "OK",
                            }).then(function () {
                                location.reload();
                            });
                        } else {
                            swal({
                                title: "Cập nhật danh mục không thành công",
                                text: "Mã danh mục " + response.madm + " không được cập nhật." + "\n" + " Với nội dung lỗi: " + response.nd,
                                icon: "error",
                                button: "OK",
                            }).then(function () {
                                location.reload();
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        swal({
                            title: "Lỗi",
                            text: "Đã xảy ra lỗi trong quá trình gửi dữ liệu",
                            icon: "error",
                            button: "OK",
                        }).then(function () {
                            location.reload();
                        });
                    }
                });
            }

        });

        //Thực hiện thu hồi danh mục
        $('#dataTable').on('click', '#thuhoidm', function () {
            var madm = $(this).closest('tr').find('td:first-child').text().trim();
            var $row = $(this).closest('tr');

            $('#deleteModalLabel').html('Xác nhận thu hồi danh mục này '  + madm);
            $('#deleteModal').modal('show');

            $('#confirmDelete').on('click', function () {
                $.ajax({
                    url: '/Admin/ThuHoiDM',
                    type: 'POST',
                    data: JSON.stringify({ MaDM: madm }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "Json",
                    success: function (response) {
                        // Hiển thị thông báo thành công (nếu cần thiết)
                        if (response.success == true) {
                            swal({
                                title: "Thu hồi chức vụ thành công",
                                text: "Mã chức vụ " + response.madm + " đã được xóa",
                                icon: "success",
                                button: "OK",
                            }).then(function () {
                                // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                $('#deleteModal').modal('hide');
                                location.reload(); //Reload lại dữ liệu
                                //$row.remove();
                            });
                        } else {
                            swal({
                                title: "Thu hồi danh mục không thành công",
                                text: "Mã chức vụ " + response.madm + "không thể thu hồi. " + "\n" + "Nội dung lỗi: " + response.nd,
                                icon: "error",
                                button: "OK",
                            }).then(function () {
                                // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                $('#deleteModal').modal('hide');
                                location.reload(); //Reload lại dữ liệu
                            });
                        }

                    }, error: function (xhr, status, error) {
                        swal({
                            title: "Lỗi",
                            text: "Đã xảy ra lỗi trong quá trình gửi yêu cầu",
                            icon: "error",
                            button: "OK",
                        }).then(function () {
                            // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                            $('#deleteModal').modal('hide');
                        });
                    }
                });
            });
        });
        //Thực hiện phục hồi trạng thái thông tin công ty
        $('#dataTable1').on('click', '#phuchoict', function () {
            var madm = $(this).closest('tr').find('td:first-child').text().trim();

            $('#RestoreModalLabel').html('Xác nhận phục hồi danh mục ' + madm);
            $('#RestoreModal').modal('show');

            $('#confirmRestore').on('click', function () {
                $.ajax({
                    url: '/Admin/PhucHoiDM',
                    type: 'POST',
                    data: JSON.stringify({ MaDM: madm }),
                    contentType: 'application/json',
                    success: function (response) {
                        // Hiển thị thông báo thành công (nếu cần thiết)
                        if (response.success == true) {
                            swal({
                                title: "Phục hồi danh mục thành công",
                                text: "Danh mục " + response.madm + " đã được phục hồi trạng thái .",
                                icon: "success",
                                button: "OK",
                            }).then(function () {
                                // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                location.reload(); //Reload lại dữ liệu
                            });
                        } else {
                            swal({
                                title: "Phục hồi danh mục " + response.madm + " không thành công",
                                text: "Mã danh mục " + response.madm + "không thể phục hồi trạng thái.'+'\n'+' Nội dung lỗi: " + response.nd,
                                icon: "error",
                                button: "OK",
                            }).then(function () {
                                // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                location.reload(); //Reload lại dữ liệu
                            });
                        }

                    }, error: function (xhr, status, error) {
                        swal({
                            title: "Lỗi",
                            text: "Đã xảy ra lỗi trong quá trình gửi yêu cầu",
                            icon: "error",
                            button: "OK",
                        }).then(function () {
                            // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                            location.reload(); //Reload lại dữ liệu
                        });
                    }
                });
            });
        });
        //Thực hiện xóa danh mục này
        $('#dataTable1').on('click', '#xoadm', function () {
            var madm = $(this).closest('tr').find('td:first-child').text().trim();
            $('#deleteModalLabel1').html('Xác nhận xóa danh mục ' + madm);
            $('#deleteModal1').modal('show');

            $('#confirmDelete1').on('click', function () {
                $.ajax({
                    url: '/Admin/XoaDM',
                    type: 'POST',
                    data: JSON.stringify({ MaDM: madm }),
                    contentType: 'application/json',
                    success: function (response) {
                        // Hiển thị thông báo thành công (nếu cần thiết)
                        if (response.success == true) {
                            swal({
                                title: "Xóa danh mục thành công",
                                text: "Danh mục " + response.madm + " đã được xóa thành công .",
                                icon: "success",
                                button: "OK",
                            }).then(function () {
                                // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                location.reload(); //Reload lại dữ liệu
                            });
                        } else {
                            swal({
                                title: "Xóa danh mục " + response.madm + " không thành công",
                                text: "Mã danh mục " + response.madm + "không thể xóa.'+'\n'+' Nội dung lỗi: " + response.nd,
                                icon: "error",
                                button: "OK",
                            }).then(function () {
                                // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                location.reload(); //Reload lại dữ liệu
                            });
                        }

                    }, error: function (xhr, status, error) {
                        swal({
                            title: "Lỗi",
                            text: "Đã xảy ra lỗi trong quá trình gửi yêu cầu",
                            icon: "error",
                            button: "OK",
                        }).then(function () {
                            // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                            location.reload(); //Reload lại dữ liệu
                        });
                    }
                });
            });
        });
    </script>


}

