@model IEnumerable<FastFoodBranch.Models.ChiTietKho>
@using FastFoodBranch.Models;
@{
    ViewBag.Title = "Danh sách hàng hóa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.dshh = "active";
    ViewBag.qlk1 = "show";
    ViewBag.qlk0 = "active";
    QuanLyFastFoodEntities1 db = new QuanLyFastFoodEntities1();
    var dsk = db.ChiTietKhoes.Where(s=>s.IDKho == "KH0").ToList();
    var dsnl = db.NguyenLieux.ToList();
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@{
    var checkmess = (string)TempData["messageAlert"];
    if (checkmess == "success0")
    {
        <script>
            swal({
                title: "Nhập nguyên liệu thành công",
                text: "Nguyên liệu @TempData["manl"] đã được nhập kho",
                icon: "success",
                button: "OK",
            });
        </script>
    }
    else if (checkmess == "error0")
    {
        <script>
            swal({
                title: "Nhập nguyên liệu không thành công",
                text: "Nguyên liệu nhập @TempData["manl"] đã bị hủy. Nội dung lỗi : @TempData["mess5"]",
                icon: "error",
                button: "OK",
            });
        </script>
    }
}


<div class="container-fluid">
    <ul class="nav nav-tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#menu0"><h4 class="btn btn-outline-warning">Danh sách hàng hóa của kho tổng</h4></a>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1"><h5 class="btn btn-outline-info">Danh sách hàng hóa bị thu hồi</h5></a>
                </li>*@
        </ul>
    </ul>
    @*Page Heading*@
    <div class="tab-content">
        <div id="menu0" class="tab-pane active">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh sách hàng hóa đang tồn tại trong hệ thống </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="button-group">
                                <button class="btn btn-sm btn-success" data-target="#myModal" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i> Nhập hàng hóa</button>
                                <a class="btn btn-sm btn-secondary" type="button" title="Sao chép" href="~/Admin/DSHH"><i class="fa fa-retweet" aria-hidden="true"></i> Làm mới</a>
                                <button class="btn btn-sm btn-primary" type="button" id="btn-ImportExcel" data-target="#importModal" data-toggle="modal"><i class="fas fa-file-import"></i> Nhập Excel</button>
                                <button class="btn btn-sm btn-info" id="button_excel" title="Xuất file Excel"><i class="fas fa-file-excel"></i> Xuất Excel</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table data-cols-width="30,20,20,20,20,20,40" class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">ID Nguyên liệu</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Số lượng</th>
                                    <th data-exclude="true">Chức năng</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr data-exclude="true">
                                    <th>ID Nguyên liệu</th>
                                    <th>Số lượng</th>
                                    <th>Chức năng</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td data-b-a-s="thin">@item.NguyenLieu.TenNL</td>
                                            <td data-b-a-s="thin">@item.SoLuong</td>
                                            <td>

                                                @{
                                                    if (item.SoLuong == 0)
                                                    {
                                                        <button class="btn btn-success btn-sm save edit" style="display:none" id="luutt"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                        <button class="btn btn-danger btn-sm edit" id="xoaTB">
                                                            <i class="fa fa-times" aria-hidden="true"></i>
                                                        </button>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @*<div id="menu1" class="tab-pane fade">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Danh sách công thức đang tạm ngừng triển khai trong hệ thống </h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="button-group">
                                    <button class="btn btn-sm btn-info" id="button_excel1" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="table-responsive">
                            <table data-cols-width="30,20,20,20,20,20,30" class="table table-hover table-bordered" id="dataTable1" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">ID</th>
                                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Chi nhánh</th>
                                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Trạng thái</th>
                                        <th data-exclude="true">Chức năng</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr data-exclude="true">
                                        <th>ID</th>
                                        <th>Chi nhánh</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @{
                                        foreach (var item in Model)
                                        {
                                            if (item.LocationID is null)
                                            {
                                                <tr>
                                                    <td data-b-a-s="thin">@item.ID</td>
                                                    <td data-b-a-s="thin">@item.LocationID</td>
                                                    @{
                                                        if (item.Lock == true)
                                                        {
                                                            <td data-b-a-s="thin">
                                                                <div class="btn btn-sm btn-warning" style="width:100px">
                                                                    Bình thường
                                                                </div>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td data-b-a-s="thin">
                                                                <div class="btn btn-sm btn-info">
                                                                    Tạm ngừng
                                                                </div>
                                                            </td>
                                                        }
                                                    }
                                                    <td>
                                                        <button class="btn btn-primary btn-sm edit" id="phuchoitb">
                                                            <i class="fa fa-redo" aria-hidden="true"></i>
                                                        </button>

                                                        <a class="btn btn-danger btn-sm edit">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            }
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    @*DataTales Example*@
</div>
<!--Phần modal thêm mới phiếu nhập-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Nhập nguyên liệu cho kho tổng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="~/Admin/ThemPN" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row" id="nd">
                        <input id="soluongDom" name="soluongDom" type="text" hidden />
                    </div>
                    <div class="col-lg-12 " style="text-align:start">
                        <input class="btn btn-warning" id="themnl" type="button" value="Thêm NL" />
                        <input class="btn btn-danger" id="xoanl" type="button" name="XoaNL" disabled value="Xóa NL" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary" id="btnAdd" disabled>Thêm mới</button>
                </div>
            </form>

        </div>
    </div>
</div>




@section script{

    <script src="~/Content/js/tableToExcel.js"></script>
    <!-- Page level plugins -->
    <script src="~/Content/Vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    @*<script src="~/Content/js/demo/datatables-demo.js"></script>*@
<script>
        $(document).ready(function() {
            $('#dataTable').DataTable({
                "language": {
                    "url": '@Url.Content("~/Content/Vendor/datatables/json.json")'
                }
            });
            $('#dataTable1').DataTable({
                columnDefs: [
                    { width: '150px', targets: 0 },// Độ rộng cột 5
                ],
                "language": {
                    "url": '@Url.Content("~/Content/Vendor/datatables/json.json")'
                }
            });
            //Set up cho selection 2
            $('#IDNguyenLieu').select2({
                dropdownParent: $('#myModal'),
                width: "190px"
            });
            //Thêm nguyên liệu
            var i = 0;
        $('#themnl').on('click', function () {
            i++;
            //Set số lượng dom sinh ra
            $('#soluongDom').val(i);
            $('#btnAdd').prop('disabled', false);
            $('#xoanl').prop('disabled', false);
            console.log('bạn vừa nhấn thêm nguyên liệu');

            var row =
                '<div class="form-group form-inline col-lg-12" id="ndNL' + i + '">' +
                    '<label class="control-label">Nguyên liệu:  </label>' +
                    ' <select class="form-control" id="ChonNL'+i+'" name="MaNL' + i +'" required>' +
                '<option value="1" selected disabled>--Vui lòng chọn--</option>' +
                '@{ foreach (var item in dsnl)
                            {
                                var khoql = db.Khoes.Where(s => s.LocationID == null).FirstOrDefault();
                                    var slton = db.ChiTietKhoes.Where(s => s.IDNguyenLieu == item.ID && s.IDKho == khoql.ID).FirstOrDefault();

                                    if (slton != null)
                                    {<option value="@item.ID">@item.TenNL SL: @slton.SoLuong</option>}else{<option value="@item.ID">@item.TenNL SL: 0</option>}} }' +
                    '</select>' +
                    '<label class="control-label col-sm-3">Số lượng:</label>' +
                    '<input class="form-control text-box single-line col-sm-2" type="number" min=0 name="SoLuong' + i + '" id="SoLuong' + i + '" required />' +
                '</div>';
            console.log(i);

            //div.innerHTML += row;
            $("#nd").append(row);
            $('#ChonNL' + i).select2({
                dropdownParent: $('#myModal'),
                width: "180px"

            });
            // Kiểm tra sự trùng lặp khi người dùng thay đổi một select box
            $('#ChonNL' + i).on('change', function () {
                console.log('Bạn vừa chọn nguyên liệu thứ ' + i);
                var selectedValue = $(this).val();

                // Duyệt qua các select box trước đó để kiểm tra trùng
                var hasDuplicate = false;
                $('select[name^="MaNL"]').not(this).each(function () {
                    if ($(this).val() === selectedValue) {
                        hasDuplicate = true;
                        return false; // Dừng duyệt khi tìm thấy trùng
                    }
                });
                if (hasDuplicate) {
                    alert('Nguyên liệu đã được chọn trước đó.');
                    $(this).val(null).trigger('change.select2'); // Xóa giá trị nếu trùng
                }
            });
        });
        $('#xoanl').click(function () {
            if (i >= 1) {
                $('#ndNL'+i).remove();
                i--;
                if (i == 0) {
                    $(this).attr("disabled", "disabled");
                    $('#btnAdd').attr("disabled", "disabled");
                }
            }
            else {

                console.log('Số lượng dom nguyên liệu phải > 0');
            }
        });


        });
</script>
}
