@{

}

@using FastFoodBranch.Models;
@{
    ViewBag.Title = "Thực đơn";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
    ViewBag.setUp1 = "sub_page";
    ViewBag.setUp2 = "Hidden";
    ViewBag.act2 = "active";

    QuanLyFastFoodEntities1 db = new QuanLyFastFoodEntities1();
    var dsdm = db.DanhMucs.ToList();
    var dscn = db.ChiNhanhs.ToList();

    var checkCN = Session["locationCN"];
    var dsma = db.MonAns.ToList();

    var tencn = db.ChiNhanhs.Where(s => s.LocationID == (string)checkCN).FirstOrDefault();
}

<!-- food section -->
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/KhachHang/TrangChu">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Danh sách món ăn</strong></div>
        </div>
    </div>
</div>

<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            @{
                if (checkCN != null)
                {
                    <h2>
                        @tencn.TenCN hôm nay có món gì?
                    </h2>
                }
                else
                {
                    <h2>
                        Món ăn hôm nay
                    </h2>
                }
            }
            <div class="row">
                <div class="col-lg-9" style="padding-top:30px;">
                    <div class="input-group">
                        <input type="text" id="searchInput" class="form-control" style="" placeholder="Tìm kiếm " />
                    </div>
                </div>
                <div class="col-lg-3" style="padding-top:35px;">
                    <select class="form-control-range" id="sortSelect">
                        <option selected disabled>Lọc theo giá</option>
                        <option value="asc">Giá: Bé - lớn</option>
                        <option value="desc">Giá: Lớn - bé</option>
                    </select>
                </div>
            </div>

            <div class="dropdown">

            </div>
            <style>
                #searchInput::placeholder {
                    font-family: 'Dancing Script', cursive;
                    font-size: 20px;
                    margin: 0;
                    /*color:#808080;*/
                }

                #searchInput {
                    border-radius: 20px;
                    height: 50px;
                    padding-left: 30px;
                    background-image: url('/Content/Imgs/search.svg'); /* Đường dẫn đến hình kính */
                    background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
                    background-position: right; /* Đặt vị trí của hình ảnh */
                    background-size: 80px 20px; /* Kích thước của hình ảnh */
                }

                .detail-box a {
                    text-decoration: none;
                    color: white;
                }

                    .detail-box a:hover {
                        color: white
                    }
            </style>
        </div>

        <ul class="filters_menu">
            <li class="active" data-filter="*">All</li>
            @foreach (var items in dsdm)
            {
                <li data-filter=".@items.ID">@items.TenDanhMuc</li>

            }
            <li data-filter=".burger">Burger</li>
            <li data-filter=".pizza">Pizza</li>
            <li data-filter=".pasta">Pasta</li>
            <li data-filter=".fries">Fries</li>


        </ul>

        <div class="filters-content">
            <div class="row grid">
                @{
                    if (checkCN != null)
                    {
                        var monanCN = db.MonAnChiNhanhs.Where(s => s.LocationID == (string)checkCN).ToList();
                        foreach (var item in monanCN)
                        {
                            <div class="col-sm-6 col-lg-4 all @item.MonAn.IDDanhMuc">
                                <div class="box">
                                    <div>
                                        <div class="img-box">
                                            <a href="/KhachHang/TTSanPham/@item.MonAn.ID">
                                                <img src="@item.MonAn.HinhAnh" alt="">
                                            </a>

                                        </div>
                                        <div class="detail-box">

                                            <a href="/KhachHang/TTSanPham/@item.MonAn.ID">
                                                <h5>
                                                    @item.MonAn.TenMA
                                                </h5>
                                            </a>
                                            <p>
                                                @item.MonAn.MoTa
                                            </p>
                                            <div class="options">
                                                <h6 class="price" hidden>@item.MonAn.GiaGoc</h6>
                                                <h6>
                                                    @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C}", item.MonAn.GiaGoc).Replace(",00", "")
                                                </h6>
                                                <a href="">
                                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                                    <g>
                                                    <g>
                                                    <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
    </g>
  </g>
                                                    <g>
                                                    <g>
                                                    <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
   C457.728,97.71,450.56,86.958,439.296,84.91z" />
    </g>
  </g>
                                                    <g>
                                                    <g>
                                                    <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
    </g>
  </g>
                                                    <g>
  </g>
                                                    <g>
  </g>
                                                    <g>
  </g>
                                                    <g>
  </g>
                                                    <g>
  </g>
                                                    <g>
  </g>
                                                    <g>
  </g>
                                                    <g>
  </g>
                                                    <g>
  </g>
                                                    <g>
  </g>
                                                    <g>
  </g>
                                                    <g>
  </g>
                                                    <g>
  </g>
                                                    <g>
  </g>
                                                    <g>
  </g>
</svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        foreach (var item in dsma)
                        {
                            <div class="col-sm-6 col-lg-4 all @item.IDDanhMuc">
                                <div class="box">
                                    <div>
                                        <div class="img-box">
                                            <a href="#">
                                                <img src="@item.HinhAnh" alt="">
                                            </a>

                                        </div>
                                        <div class="detail-box">

                                            <a href="#">
                                                <h5>
                                                    @item.TenMA
                                                </h5>
                                            </a>
                                            <p>
                                                @item.MoTa
                                            </p>
                                            <div class="options">
                                                <h6>
                                                    @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C}", item.GiaGoc).Replace(",00", "")
                                                </h6>
                                                <a href="">
                                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                                    <g>
                                                    <g>
                                                    <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
          </g>
        </g>
                                                    <g>
                                                    <g>
                                                    <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
         C457.728,97.71,450.56,86.958,439.296,84.91z" />
          </g>
        </g>
                                                    <g>
                                                    <g>
                                                    <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
          </g>
        </g>
                                                    <g>
        </g>
                                                    <g>
        </g>
                                                    <g>
        </g>
                                                    <g>
        </g>
                                                    <g>
        </g>
                                                    <g>
        </g>
                                                    <g>
        </g>
                                                    <g>
        </g>
                                                    <g>
        </g>
                                                    <g>
        </g>
                                                    <g>
        </g>
                                                    <g>
        </g>
                                                    <g>
        </g>
                                                    <g>
        </g>
                                                    <g>
        </g>
      </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                }



            </div>
        </div>
        <div class="btn-box">
            <a href="">
                View More
            </a>
        </div>
    </div>
</section>
@section script{
    <script>
        @{
            if(checkCN == null)
            {
                <text>
                $('.filters-content').click(function () {
                    $('#titleLocation').html("Vui lòng chọn địa điểm trước khi chọn món ăn!");
                    $('#myModalLocation').modal('show');
                });
                </text>
            }
        }
    </script>
}
<!-- end food section -->