

<div class="b-menu">
    <ul>
        <li class="@ViewBag.info">
            <a title="Account information" href="~/KhachHang/ThongTinKH">
                <img src="~/Content/LayoutKH/DetaileKH/image/user-solid.svg" alt=""> Thông tin cá nhân
            </a>
        </li>
        <li class="@ViewBag.social">
            <a title="Tài khoản mạng xã hội" href="~/KhachHang/MangXaHoi">
                <img src="~/Content/LayoutKH/DetaileKH/image/square-share-nodes-solid.svg" alt=""> Tài khoản mạng xã hội
            </a>
        </li>
        <li class="@ViewBag.shipAddr">
            <a title="Shipping Address" href="~/KhachHang/DiaChiGH">
                <img src="~/Content/LayoutKH/DetaileKH/image/location-dot-solid.svg" alt="">Địa chỉ giao hàng
            </a>
        </li>
        <li class="@ViewBag.history">
            <a title="Order history" href="~/KhachHang/DonHangCuaBan">
                <img src="~/Content/LayoutKH/DetaileKH/image/file-invoice-solid.svg" alt=""> Đơn hàng của bạn
            </a>
        </li>
        <li class="@ViewBag.coupon">
            <a title="My coupons" href="~/KhachHang/Voucher">
                <img src="~/Content/LayoutKH/DetaileKH/image/gifts-solid.svg" alt=""> Mã giảm giá của tôi
            </a>
        </li>
        <li class="@ViewBag.wishlist">
            <a title="My menu / wishlist" href="/KhachHang/DanhSachYeuThich">
                <img src="~/Content/LayoutKH/DetaileKH/image/heart-solid.svg" alt=""> Danh sách yêu thích
            </a>
        </li>
        <li class="@ViewBag.feedback">
            <a title="Ý kiến khách hàng" href="/feedback">
                <img src="~/Content/LayoutKH/DetaileKH/image/comment-solid.svg" alt=""> Ý kiến khách hàng
            </a>
        </li>
        <li class="@ViewBag.support">
            <a target="_blank" href="#" title="Support">
                <img src="~/Content/LayoutKH/DetaileKH/image/square-share-nodes-solid.svg" alt=""> Hỗ trợ
            </a>
        </li>
        <li>
            <a href="~/LoginUser/LogoutKH" title="Sign out">
                <img src="~/Content/LayoutKH/DetaileKH/image/right-from-bracket-solid.svg" alt=""> Đăng xuất
            </a>
        </li>
    </ul>
</div>