

<div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
        <div class="swiper-slide swiper-slide-active" style="width: 156.75px;">
            <a class="txt @ViewBag.all" data-tab="all" href="#">Tất cả</a>
        </div>
        <div class="swiper-slide swiper-slide-next" style="width: 156.75px;">
            <a class="txt @ViewBag.dtc" data-tab="dtc" href="#">Đặt thành công</a>
        </div><div class="swiper-slide" style="width: 156.75px;">
            <a class="txt" href="#" data-tab="cbm">Chuẩn bị món</a>
        </div>
        <div class="swiper-slide" style="width: 156.75px;">
            <a class="txt @ViewBag.dg "data-tab="ship" href="#">Đang giao</a>
        </div>
        <div class="swiper-slide" style="width: 156.75px;">
            <a class="txt @ViewBag.ht" data-tab="complete" href="#">Hoàn thành</a>
        </div>
        <div class="swiper-slide" style="width: 156.75px;">
            <a class="txt @ViewBag.hd" data-tab="cancle" href="#">Hủy đơn</a>
        </div>
    </div>
</div>